*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 /* height: 2000px; */
}

::-webkit-scrollbar{
  width: 5px;
  background-color: #333;
}
::-webkit-scrollbar-thumb{
  background-color: yellow;
}

body{
 font-family: 'Oxanium', sans-serif;
 font-weight: 600;
 background-color: black;
 color: white;
 width: 100%;
 /* height: auto; */
 position: relative;
 overflow:hidden !important;
}

.backgroundimage{
  position: absolute;
  z-index: -11111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* filter: blur(1px); */
}

.back1,.back2{
  width: 150%;
  height: 150%;
  background-color: black;
  position: absolute;
  left: -60%;
  z-index: -111;
}
.back1{
  bottom: -300px;
  /* background-color: red; */
  transform: rotateZ(50deg);
}
.back2{
  top: -300px;
  /* background-color: blue; */
  z-index: -11;
  transform: rotateZ(-50deg) rotateX(180deg);
}

.pointer{
 z-index: 1111111111;
 position: absolute;
 top: 0;
 left: 0;
 width: 20px;
 height: 20px;
 border-radius: 50%;
  border: 1px solid rgba(251, 255, 2);
 pointer-events: none;
 box-sizing: border-box;
 transition: 0.1s;
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 0.6;
}
.pointer-inner{
  width: 5px;
  height: 5px;
  background: rgba(251, 255, 2);
  border-radius: 50%;
}


.section{
/* transform: translateX(-100%); */
 opacity: 1;
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 transition: 0.5s;
width: 100%;
 height: 100vh;
 /* background-color: black; */
 overflow: hidden;
 background-color:  rgba(0, 0, 0, 0.4);

}



.navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: calc(100%);
 padding: 10px;
 transform: translateY(30%);
 opacity: 0;
 z-index: 1000;
}

.nav-menu-little{
  z-index: 111111;
 cursor: pointer;
 width: 30px;
 height: 30px;
 padding: 5px;
 display: none;
 flex-direction: column;
 justify-content: space-around;
 /* align-items: center; */
}

.nav-menu-little span{
 border-top: 2px solid white;
 width: 25px;
 transition: 0.4s;
}
#sp2{
 width: 15px;
}
#sp3{
 width: 20px;
}

.nav-menu-little:hover #sp2{
 width: 25px;
}
.nav-menu-little:hover #sp3{
 width: 25px;
}

.nav-menu{
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.nav-menu a{
  position: relative;
  text-decoration: none;
  overflow: hidden;
  color: white;
}
 .btn{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 20px;
 }
 .btn1, .btn2 , .btn3 {
   text-transform: uppercase;
  padding: 5px 10px;
  margin-left: 10px;
  transition: 0.4s ease-in;
 }
 .nav-menu a:hover{
  opacity: 0.8;
 }
 .nav-menu a.active::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  /* transition: 0.2s; */
 }
 .nav-menu a::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: white;
   bottom: 0;
   left: -100%;
   transition: 0.4s;
 }
 .nav-menu a:hover::before{
   left: 0;
 }


.middle-sec{
 width: fit-content;
 display: flex;
 flex-direction: column;
 padding-left: 150px;
 transform: translateY(20%);
 transition-delay: 0.2s;
 transition: 1s;
 opacity: 0;
 z-index: 100;
}

.bigtext{
  position: absolute;
  z-index: 11;
  top: 20%;
  left: 75%;
  color: yellow;
  font-size: 20rem;
  transform: rotateZ(-20deg);
  user-select: none;
  font-family: 'Rampart One', cursive;
  transition: 1s;
  opacity: 0;
}

.t1{
  color: yellow;
  left: 75%;
  z-index: 100;
}

.t2{
  color: rgb(187, 255, 0);
  left: 76%;
  z-index: 99;
}

.bigtxt-translate-y{
  top: 10%;
  opacity: 1;
  transform: rotateZ(-20deg);
}

.middle-sec h1{
 font-size: 4rem;
 font-family: 'Changa',sans-serif;
 line-height: 70px;
 user-select: none;
 
}
.middle-sec h1 span{
 color: yellow;
}
.middle-sec h1 .blink{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  animation-name: blinking;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes blinking {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.typewriter1{
  color: white;
}

.middle-btn {
 position: relative;
 text-decoration: none;
 background-color: white;
 text-transform: uppercase;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
 width: 182px;
 opacity: 0;
 height: 52px;
 font-family: 'Oxanium',sans-serif;
 overflow: hidden;
 transform: translateY(30%);
 clip-path: polygon(10% 0%, 100% 0%, 100% 10%, 100% 70%, 90% 100%, 30% 100%, 0 100%, 0% 30%);
 user-select: none;
 width: 180px;
 height: 50px;
 color: black;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: 0.6s;

}

.middle-btn::after{
 position: absolute;
 top: -100%;
 left: -50%;
 content: '';
 width: 40px;
 height: 200px;
 background-color: white;
 transform: rotateZ(30deg);
 transition: 0.4s;
}
 
.middle-btn:hover::after{
  left: 150%;
}

.middle-btn:hover{
  background-color: white;
animation: anim;
animation-duration: 0.4s;
}

.middle-btn:hover div{
 background-color: white;
 color: black;
}

.bottom-sec1{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.version{
  color: white;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials{
 width: fit-content;
 padding: 5px;
 display: flex;
 transform: translateY(50%);
 opacity: 0;
}
.socials a{
 position: relative;
 margin: 0px 10px;
 color: black;
 background-color: white;
 text-decoration: none;
 width: 50px;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
  clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 100%, 0% 30%);
}
.socials a i{
 font-size: 22px;
}

.socials a div{
 clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 100%, 0% 30%);
 display: flex;
 justify-content: center;
 align-items: center;
 width: 48px;
 height: 38px;
 transition: 0.6s;
 background-color: black;
}

.socials a::after{
 transition: 0.4s;
 content: '';
 width: 20px;
 height: 100px;
 background-color: white;
 position: absolute;
 top: -50%;
 left: -100%;
 transform: rotateZ(30deg);
}

.socials a:hover::after{
 left: 150%;
}

.socials a:hover {
  background-color: white;
 animation-name: anim;
 animation-duration: 0.4s;
}



/* section 2 css */


.sec2-top{
 width: 100%;
 /* padding: 20px 0px; */
 text-align: center;
 z-index: 1;
}
.sec2-top h3{
 text-transform: uppercase;
 font-size: 24px;
}

.sec2-middle{
 /* z-index: 1; */
 display: flex;
 height: 100%;
 overflow-y: auto;
 padding: 20px 100px;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 transform: translateY(30%);
 opacity: 0;
}
.sec2-middle a{
 width: 400px;
 height: 200px;
 margin: 0px 50px;
 text-decoration: none;
 color: white;
margin: 40px;
}
.card{
 overflow:hidden;
 position: relative;
 width: 400px;
 height: 200px;
 transition: .4s;
 z-index: 1;
}

.card-fade{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: rgba(0, 0, 0, 0.8);
 font-size: 24px;
 font-weight: bold;
 transition: 0.5s;
 opacity: 1;
}

.card-fade p{
  text-align: center;
}


.card:hover .card-fade{
 opacity: 0;
 top: 100%;
}
.card:hover{
  transform: scale(1.1);
}
/* 
.card1:hover{
 box-shadow: 10px 10px 10px orange;
 transform: scale(1.1);
}

.card2:hover{
 box-shadow: 10px 10px 10px red;
 transform: scale(1.1);

}

.card3:hover{
 box-shadow: 10px 10px 10px greenyellow;
 transform: scale(1.1);

}
.card4:hover{
 box-shadow: 10px 10px 10px aqua;
 transform: scale(1.1);

} */
.card img{
 width: 400px;
 height: 200px;
}

/* section 3 css */

.sec3-top{
 width: 100%;
 text-align: center;
 padding: 10px;
 text-transform: uppercase;
}
.sec3toptitle, .sec2toptitle{
  transform: translateY(100%);
  opacity: 0;
  
}

.sec3-middle{
  overflow-y: auto;
 height: 100%;
 display: flex;
}
.sec3{
 flex: 50%;
 padding: 20px;
 
}
.sec3-text {
 font-size: 18px;
 transform: translateY(30%);
 opacity: 0;
}

.sec3-text  span:nth-of-type(1){
 color: rgb(255, 124, 72);
}
.sec3-text  span:nth-of-type(2){
 color: rgb(61, 142, 248);
}
.sec3-text  span:nth-of-type(3){
 color: yellow;
}

.sec3-props{
 padding:  20px;
}
.skills{
 transform: translateY(300%);
 opacity: 0;
 margin: 20px 0px;
}
.skill-text{
 padding: 10px 0px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.skill-text h1{
 text-transform: uppercase;
 font-size: 16px;
}

.skill-amount{
 height: 8px;
 width: 100%;
 border-radius: 5px;
 background-color: #333;
}
.skill-amount-inner{
 animation-delay: 1s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 height: 8px;
 width: 0;
 border-radius: 5px;
 background-color: yellow;
}

.skill1{
 animation-name: skill1;
}

.skill2{
 animation-name: skill2;
}

.skill3{
 animation-name: skill3;
}

.skill4{
 animation-name: skill4;
}
.skill5{
 animation-name: skill1;
}

.skill6{
  animation-name: skill6;
 }

.sec3-info{
 flex: 50%;
 padding: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
}
.imageprg{
 transform: translateY(30%);
 opacity: 0;
 text-align: center;
}
.imageprg img{
 width: 400px;
}

.forcv{
 width: 200px;
 height: 50px;
 background-color: white;
 display: flex;
 justify-content: center;
 align-items: center;
}
.forcv-inner{
 width: 198px;
 height: 48px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: black;
}
.forcv-inner a{
 text-decoration: none;
 color: white;
}



.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(251, 255, 2, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);  */
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}
@keyframes rippleDrop {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

@media (max-width: 900px){



  .sec2-middle{
   height: 100%;
   padding: 10px;
  }
  .sec2-middle a{
   width: 200px;
   height: 100px;
   /* margin: 40px 0px; */
  }
  .card{
   width: 200px;
   height: 100px;
  }
  .card img{
   width: 200px;
   height: 100px;
  }
  
.sec3-middle{
  flex-direction: column;
   /* flex-wrap: wrap; */
   overflow-y: scroll;
   overflow-x: hidden;
  }
}

@media (max-width: 620px){

 .loading{
  font-size: 2rem;
 }
 .pointer {
  display: none;
 }

 .navbar{
   padding: 5px 10px;
 }
 .btn{
   z-index: 100000;
 }
 .nav-menu-little{
   display: flex;
 }

 .nav-menu{
   background-color: black;
   position: absolute;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 20px; */
  /* height: 20px; */
 }

 .nav-menu a{
   margin: 10px 0px;
  font-size: 24px;
  }

 .textbc1, .textbc2{
  font-size: 3rem;
 }
 .myimage{
  left: 10%;
 }

 .middle-sec{
  padding-left: 20px;
 }
 .middle-sec h1{
  max-width: 200px;
  font-size: 3rem;
  line-height: 40px;
 }
 .middle-btn{
  width: 150px;
  height: 50px;
 }
 .middle-btn div{
  width: 100px;
  height: 30px;
  font-size: 10px;
 }
 .middle-btn::after{
  left: -80%;
 }

 .socials a, .lang a{
  width: 40px;
  height: 30px;
  margin: 0px 5px;
 }
 .socials a div, .lang a div{
  width: 38px;
  height: 28px;
 }

 .socials a i{
  font-size: 18px;
 }

 .sec2-middle{
  padding-left: 20px;
  justify-content: center;
 }
 .sec2-middle a{
  margin: 20px;
 }
 .card-fade p{
   font-size: 16px;
 }
.sec3-top h1{
   font-size: 30px;
  }
  .sec3-middle{
    /* flex-wrap: wrap; */
    flex-direction: column;
    overflow-y: scroll;
  }
  .sec3{
   padding: 10px;
  }
  
  .sec3-text{
   font-size: 16px;
  }
  .sec3-props{
   /* width: 70%; */
   padding: 0;
  }
  .skill-text{
   padding: 5px 0px;
  }
  .skill-text h1 ,.skill-text p{
   font-size: 14px;
  }
  .sec3-info{
   padding: 10px;
  }
  .imageprg img{
   width: 200px;
  }

}




.typewriter{
  width: fit-content;
}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 1px solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from{ width: 0}
  to { width: 100%}

}




@keyframes anim {
 0% {
  transform: translateX(0);
 }
  33% {
  transform: translateX(10%);
 }
  66% {
  transform: translateX(-10%);
 }
  100% {
  transform: translateX(0);
 }
}

.transform-y{
  transition: 1s;
 /* transition-delay: 0.5s; */
 transform: translateY(0%);
 opacity: 1;
}


.transform-y-op-zero{
  transition: 1s;
 transition-delay: 0.5s;
 transform: translateY(0%);
 opacity: 0.3;
}

.transform-x{
 transition: 0.5;
 transition-delay: 0s;
 transform: translateX(0%);
 opacity: 1;
}

.transform-x-swiper{
 transition: 1s;
 transition-delay: 0.5s;
 right: 0;
 opacity: 1;
}

@keyframes skill1 {
 0% {
  width: 0%;
 }
 100%{
  width: 90%;
 }
}

@keyframes skill2 {
 0% {
  width: 0%;
 }
 100%{
  width: 75%;
 }
}
@keyframes skill3 {
 0% {
  width: 0%;
 }
 100%{
  width: 60%;
 }
}
@keyframes skill4 {
 0% {
  width: 0%;
 }
 100%{
  width: 70%;
 }

}
@keyframes skill6 {
  0% {
   width: 0%;
  }
  100%{
   width: 20%;
  }
}

